useDynLib(infoCoRe)
importFrom(Rcpp, evalCpp)
export(entropy,
       net_operator,
       entropy_matrix,
       net_operator_mat,
       renormalize_graph,
       laplacian,
       get_eig,
       get_eig_cx,
       laplacian_cx,
       driver)